.movie_card{
    transition: 0.5s;
    overflow: hidden;
    position: relative;
    width: 220px;
    height: 350px;
    border-radius: 20px;
    background-color: #153c54;
}
.movie_card:before {
    
}
.movie_card:after {
}

.movie_card .poster {

}
.movie_card:hover .poster {
    transform: translateY(-30%);

}
.movie_card .poster{
    /* border-radius: 20px; */
    position: absolute;
    /* top:50%; */

    /* height: 350px; */
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: 0.5s;
    z-index: 100;
}
.movie_card .poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.movie_card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 90;
}

/* .movie_card:hover .contentBx {
} */

.movie_card .contentBx h2 {
    position: relative;
    font-weight: 600;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    margin: 0px 5px 10px 5px;

}

@media(max-width:650px){
.movie_card {
    width: 90%;
    height: 500px;
    } 
}
.details-button {
    background-color: #001a21;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* position: absolute;
    bottom: 10px;
    width: 50%;
    margin: auto; */
}

.details-button:hover {
    background-color: #1e4f6f;
    cursor: pointer;}