.container {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.title {
  text-align: 3rem;
  text-align: left;
  /* color:brown; */
  margin-right: 10px;
  line-height:80%;
  width: 100%;
}
